/*Theme colors:
C0CAAD
9DA9A0
654C4F
B26E63
CEC075*/

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;
  font-stretch: inherit;
}

h1 {
  font-family: 'Impact', sans-serif;
}

.header img {
  float: left;
  width: 20;
  height: 44px;
}

.header h1 {
  position: relative;
  font-size: 50;
  top: -7px;
  left: 5px;
  margin-bottom: -10px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #C0CAAD;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #654C4F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9DA9A0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #CEC075;
  color: white;
}